* {
  font-size: 21px;
  text-align: center;
}

header {
  align-items: center;
}

h3 {
  font-size: 14px;
}

input {
  width: 50px;
  height: 50px;
  text-align: center;
}

input:focus {
  border: none;
}

button {
  padding: 10px;
}

p {
  color: #BA5A31;
}

.main-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster-container {
  height: 500px;
  width: 330px;

  float: left;
  margin: 20px
}

.select-items-container {
  height: 400px;
  width: 400px;

  display: inline-flex;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ticket-count {
  height: auto;
  width: 200px;
  align-items: center;
  align-self: center;
}

#movie-title {
  color: #FFDD4A;
  font-size: 30px;
  font-weight: bold;
}

.list {
  display: flex;
}

/**/
.showcase {
  background-color: gainsboro;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.seat {
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 4px solid gray;
  cursor: pointer;
  background-color: #BA5A31;
}

.seat-unavailable {
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 4px solid red;
  cursor: context-menu;
  background-color: gray;
}

.seat-selected {
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 4px solid green;
  cursor: pointer;
  background-color: #BA5A31;
}

.container {
  perspective: 1000px;
  margin-bottom: 100px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}