<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <title>Monkey Movies</title>
</head>
<h2>Our Selection</h2>

<div class="header-right_wrapper">
  <input #nameSearch id="movieSearch" placeholder="Search movies" (input)="searchMoviesByName(nameSearch.value)" />
  <input #dateSearch id="searchByDate" placeholder="Enter Day" />
  <button id="dateButton" (click)="searchMoviesByDate(dateSearch.value)">Search Day</button>
</div>
<div class="movies">
  <button routerLink="tickets" type="button" *ngFor="let movie of movies" class="movie_card" (click)="onSelect(movie)">
    <img class="movieImg" src="{{movie.poster}}"  alt="Movie poster for {{movie.title}}"/>
    <div class="information-wrapper">
      <h3 class="title">{{movie.title}}</h3>
      <span class="year">{{movie.year}}</span>
      <span class="runtime">{{movie.runtime}}</span>
      <span class="mpaRating">{{movie.mpaRating}}</span>
    </div>
  </button>
</div>
