<h2>Movies</h2>
<div class="movies" ng-init="getData()">
  <button type="button" *ngFor="let movie of movies" class="movie_card" [class.selected]="movie === selectedMovie" (click)="onSelect(movie)">
    <img class="movieImg" src="https://m.media-amazon.com/images/I/512HDmXOW3L._AC_.jpg" />
    <div class="information-wrapper">
      <h3 class="title">{{movie.title}}</h3>
      <span class="year">{{movie.year}}</span>
      <span class="runtime">{{movie.runtime}}</span>
      <span class="mpaRating">{{movie.mpaRating}}</span>
    </div>
  </button>
</div>

<div *ngIf="selectedMovie">
  <h2>{{selectedMovie.title | uppercase}} Details</h2>
  <div>id: {{selectedMovie.id}}</div>
  <div>
    <label for="movie-title">Movie title: </label>
    <input id="movie-title" [(ngModel)]="selectedMovie.title" placeholder="title">
  </div>
</div>
