/* MovieComponent's private CSS styles */
.movies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  margin-right: 2em;
  break-inside: avoid;
}

.movies li {
  display: flex;
}

.movies button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 10px;
  display: inline-flex;
  align-items: stretch;
  height: 4em;
  margin-right: 2em;
}

.movies button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.movies button:active {
  background-color: #525252;
  color: #fafafa;
}

.movies button.selected {
  background-color: black;
  color: white;
}

.movies button.selected:hover {
  background-color: #505050;
  color: white;
}

.movies button.selected:active {
  background-color: black;
  color: white;
}

.movies .id {
  display: inline-block;
  font-size: medium;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #EEE;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.movies .title {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 8em 0 5em;
  background-color: #152ac7;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  white-space: nowrap;
}

.movies .runtime {
  display: inline-block;
  font-size: small;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #EEE;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.movies .mpaRating {
  text-align: center;
  display: inline;
  font-size: small;
  color: black;
  padding: 0.8em 3em 0 1.5em;
  background-color: #EEE;
  line-height: 1em;
  margin-right: 2em;
  border-radius: 4px 0 0 4px;
  white-space: nowrap;
}

.movies .year {
  display: inline-block;
  font-size: small;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #EEE;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
