<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Monkey Movies</title>
</head>

<div id="carousel"></div>

<div class="search-bar-container">
  <input #nameSearch id="search-bar-input" placeholder="Search movies.." (input)="searchMoviesByName(nameSearch.value)" />
</div>
<div class="movies">
  <button type="button" *ngFor="let movie of movies" class="movie_card" (click)="onSelect(movie)">
    <img class="movieImg" src="{{movie.poster}}"  alt="Movie poster for {{movie.title}}"/>
    <div class="information-wrapper">
      <h3 class="title">{{movie.title}}</h3>
      <span class="year">{{movie.year}}</span>
      <span class="runtime">{{movie.runtime}}</span>
      <span class="mpaRating">{{movie.mpaRating}}</span>
    </div>
  </button>
</div>

<script>
  carouselImages = ['terminator2.jpg', 'batman89.jpg', 'rambo.jpg']
  banImg = document.getElementById("ban-img")
  index = 0
  setInterval(() => {
    banImg.src = carouselImages[index]
    if (index < carouselImages.length-1) {
      index++
    } else {
      index = 0
    }
  }, 1000)
</script>