<div class="soda-modal">
    <div class="soda-modal-size">
        <h2>Choose a beverage</h2>
        <span class="list">
            <span>
                <h3>Small</h3>
                <div>
                    <button (click)="substractSmall()">-</button>
                    <input readonly type="number" value="{{small_value}}">
                    <button (click)="addSmall()">+</button>
                </div>
            </span>
            <span>
                <h3>Medium</h3>
                <div>
                    <button (click)="substractMedium()">-</button>
                    <input readonly type="number" value="{{medium_value}}">
                    <button (click)="addMedium()">+</button>
                </div>
            </span>
            <span>
                <h3>Large</h3>
                <div>
                    <button (click)="substractLarge()">-</button>
                    <input readonly type="number"  value="{{large_value}}">
                    <button (click)="addLarge()">+</button>
                </div>
            </span>
        </span>
        <button class="soda-modal-button" id="cancel" (click)="cancel()">Cancel</button>
        <button class="soda-modal-button" id="confirm" (click)="confirm()">Confirm</button>
    </div>
</div>