<div class="soda-modal" ng-init="getData()">
    <div class="soda-modal-size">
        <h2>Choose a beverage</h2>
        <div class="list">
            <div class="sodas" *ngFor="let soda of sodas" [class.selected]="soda === selectedSoda">
                <img src="{{soda.poster}}" alt="" srcset="">
                <div class="size-wrapper">
                    <h3 class="sodas-title">{{soda.name}}</h3>
                    <button class="small">S</button>
                    <button class="medium">M</button>
                    <button class="large">L</button>
                </div>
            </div>
        </div>
        <button class="soda-modal-button" id="cancel" (click)="cancel()">Cancel</button>
        <button class="soda-modal-button" id="confirm" (click)="confirm()">Confirm</button>
    </div>
</div>