<div>
  <div class="inventory-options">
    <h2>Add a new product:</h2>
    <input #addMovieName id="vote" placeholder="Enter name of new movie" />
    <button id="enter-new-movie" (click)="enterNewMovie(addMovieName.value)">Add New Movie</button>
    <p id="adminAddVote"></p>
  </div>

  <button type="Button" *ngFor="let suggest of suggests" id="change-vote" (click)="changeSuggest(suggest)">
    <h3>Id: {{suggest.id}}</h3>
    <span>Movie Name: {{suggest.movieName}}</span>
    <span>Number of Votes: {{suggest.howManyVotes}}</span>
  </button>

  <div *ngIf="suggestSelected">
    <h2>Change Vote for: {{suggestSelectedToChange.movieName}}</h2>
    <input #updateName id="votes" placeholder="Enter new movie name" />
    <button type="button" id="enter-new-movie" (click)="changeSuggestSubmit(updateName.value)">Change Vote</button>
  </div>
</div>
