<div>
  <div>
    <br><h2>Add a new product</h2><br>
    <div class="flex jc-center">
      <input #addMovieName id="screening" placeholder="Enter name of new movie" />
    </div>
    <div class="flex jc-center">
      <button id="add-movie" (click)="enterNewMovie(addMovieName.value)">Add New Movie</button>
    </div>
    <p id="adminAddVote"></p>
  </div>
  <br><br>
  <h2>Select a screening to change</h2><br>
  <div class="flex jc-center">
    <button type="Button" *ngFor="let suggest of suggests" id="clear-button" (click)="changeSuggest(suggest)">
      <h3>Movie Name: {{suggest.movieTitle}}</h3>
      <span>Id: {{suggest.id}} </span>
      <span>Number of Votes: {{suggest.votes}}</span>
    </button>
  </div>

  <div *ngIf="suggestSelected">
    <br>
    <h2>Change Vote for: {{suggestSelectedToChange.movieTitle}}</h2><br>
    <div class="flex jc-center">
      <input #updateName id="screening" placeholder="Enter votes" />
    </div>
    <div class="flex jc-center">
      <button type="button" id="add-movie" (click)="changeSuggestSubmit(updateName.value)">Change Vote</button>
      <button type="button" id="add-movie" (click)="deleteSuggest()">Delete</button>
    </div>
  </div>
</div>
