<header>
    <h1 routerLink="" style="cursor: pointer">{{title}}</h1>
    <p id="current-user">{{updateUsername()}}</p>
    <div class="header-right_wrapper">
      <button *ngIf="!isUserLoggedIn" (click)="goToPage('purchase-history')">Orders</button>
      <button *ngIf="isUserLoggedIn" class="login" (click)="goToPage('login')">Login</button>
      <button *ngIf="!isUserLoggedIn" class="login" (click)="logout()">Logout</button>
      <button *ngIf="!isUserLoggedIn" class="login" (click)="voteSuggestMovie()">Vote/Suggest</button>
      <button *ngIf="!isUserLoggedIn && this.loggedInAccount.isAdmin()" class="login" (click)="inventoryScreen()">Inventory</button>
      <button *ngIf="!isUserLoggedIn" class="login" (click)="goBack()">Home</button>
    </div>
</header>

<router-outlet></router-outlet>
