<html>
  <div>
    <br><h2>Your order history</h2><br>
    <div class="list">
      <ul>
        <li *ngFor="let order of orders">
          <div id="order">
            <img class = "movie_card" src="{{SMService.getMoviePoster(order.screeningId)}}" alt="Movie poster of {{SMService.getMovieTitle(order.screeningId)}}"/>

            <br><h1>{{SMService.getMovieTitle(order.screeningId)}}</h1><br>

            <p id="detail" *ngIf="order.tickets > 1; else oneTicket">{{order.tickets}} Tickets<p>
            <ng-template #oneTicket><p id="detail" >1 Ticket</p></ng-template>
            <p id="detail">Screened on {{SMService.getScreeningDate(order.screeningId)}} at {{SMService.getScreeningTime(order.screeningId)}}</p>

            <!-- Print orders for snacks if they exist -->
            <div *ngIf="Popcorns(order) || Sodas(order)">
              <br><h2>Purchased snacks</h2><br>
              <p id="detail" *ngIf="order.popcorn[0] > 0">{{order.popcorn[0]}} small popcorn</p>
              <p id="detail" *ngIf="order.popcorn[1] > 0">{{order.popcorn[1]}} medium popcorn</p>
              <p id="detail" *ngIf="order.popcorn[2] > 0">{{order.popcorn[2]}} large popcorn</p>
              <br *ngIf="Popcorns(order)">
              <p id="detail" *ngIf="order.soda[0] > 0">{{order.soda[0]}} small soda</p>
              <p id="detail" *ngIf="order.soda[1] > 0">{{order.soda[1]}} medium soda</p>
              <p id="detail" *ngIf="order.soda[2] > 0">{{order.soda[2]}} large soda</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="console">
      <p id="getUsernameMessage"></p>
      <p id="getOrdersMessage"></p>
    </div>

  </div>
</html>
