<html>
  <div>
    <!-- <button (click)="getAccountOrders()">Display Orders</button> -->
    <!-- <button (click)="printArrays()">print Arrays</button> -->
    <h2>Order History:</h2>
    <br>

    <ul class="orders">
      <li *ngFor="let order of orders; let i = index">
        {{setScreening(order.screeningId)}}
        <span class = "id">index: {{i}}</span>
        <span class = "id"># tickets: {{order.tickets}}</span>
        <span class = "item">order id: {{order.id}}</span>
        <span class = "item">order screeningid: {{getScreeningId()}}</span>

        <!-- <span class = "item">screening id: {{order.screeningId}}</span> -->
        <!-- <span class = "item">screening id: {{screenings[i].id}}</span>
        <span class = "item">movie id: {{movies[i].id}}</span> -->
      </li>
      <!-- <p>Screening TEST ID {{orders[2].screeningId}}</p> -->
    </ul>

    <p id="getUsernameMessage"></p>
    <p id="getOrdersMessage"></p>
  </div>
</html>
