@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Application-wide Styles */
* {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fafafa;
  margin: 0;
}

h1 {
  color: #AE3442;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 200%;
}

header {
  backdrop-filter: blur(6px);
  background-color: rgba(20, 20, 20, 0.5);
  height: 75px;
  padding: 0 75px 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
  border:rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 5px;
  padding: 10px;
}

header button:hover {
  color: rgba(255, 255, 255, 0.9);
  border:rgba(255, 255, 255, 0.9) solid 1px;
  text-decoration: none;
  transition: all .1s;
}

body {
  height: 100%;
  background-image: linear-gradient(to right top, #330872, #1e135e, #111547, #0e122f, #0b0c17);
  box-shadow: 0px -75px 50px -28px #0C0E1E inset;
}

body, input[type="text"], button {
  color: #333333;
}

button {
  background-color: #BA5A31;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
}

button:active, button:hover {
  text-decoration: underline;
}

input {
  background-color: #333333;
  border: none;
  border-bottom: black;
}

footer {
  border-top: #0C0E1E solid 5px;
  background-color: #111547;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 100px 0 100px 0;
  margin: 50px 0 0 0;
}