@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/* Application-wide Styles */
* {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fafafa;
  margin: 0;
}

h1 {
  color: #ffdd4a;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  font-size: 200%;
}

header {
  background-color: #333333;
  height: 75px;
  padding: 0 75px 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header-right_wrapper {
  float: right;
}

header-right_wrapper input {
  display: inline;
  margin-right: 10px;
}

body {
  background: #212121;
  background-size: 400% 400%;
  height: 100vh;
}

body, input[type="text"], button {
  color: #333333;
}

button {
  background-color: #BA5A31;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
}

