span {
  font-size: 24px;
}

.main-container {
  padding: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  align-items: center;
  justify-content: center;
}

.screening-info {
  font-size: 26px;
  font-weight: bold;
}

#movie-title {
  color: #FFDD4A;
  font-size: 30px;
  font-weight: bold;
}
