#enterUsername {
  width: 150px;
  height: 31px;
  position: relative;
}

#usernameButton {
  width: 150px;
  height: 21px;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 6px;
}
