
h1 {
  margin: 50px 0 0 75px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
  'header header header'
  'input input button';
  width: 50%;
}

.subtitle {
  grid-area: header;
  
}

#enterUsername {
  grid-area: input;
  width: 100%;
  border: none;
}

#usernameButton {
  grid-area: button;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: 14px;
  text-align: center;
  transition: all .2s;
}
#usernameButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
