<html>
  <head></head>
  <div>
    <br><h2>Create or log into your account</h2><br>
    <div class="container">
      <div class="cards">
        <h3 class="subtitle">Create account</h3>
        <input #enterNewUsername id="enterUsername" placeholder="Username" />
        <button id="usernameButton" (click)="enterUsername(enterNewUsername.value)">Create Username</button>
      </div>
      <div class="cards">
        <h3 class="subtitle">Sign In</h3>
        <input #signIntoAccount id="enterUsername" placeholder="Username" />
        <button id="usernameButton" (click)="signIn(signIntoAccount.value)" >Sign In</button>
      </div>
      <p id="newUsernameMessage"></p>
      <p id="signinUsernameMessage"></p>
    </div>

  </div>
</html>
