<html>
  <head></head>
  <div>
    <h1>User Account</h1>
    <input #enterNewUsername id="enterUsername" placeholder="Username" />
    <button id="usernameButton" (click)="enterUsername(enterNewUsername.value)">Enter Username</button>

    <input #signIntoAccount id="enterUsername" placeholder="Username" />
    <button id="usernameButton" >Sign In</button>

    <input #deleteAUsername id="enterUsername" placeholder="Username" />
    <button id="usernameButton" (click)="deleteUsername(deleteAUsername.value)">Delete Username</button>

    <p id="newUsernameMessage"></p>
    <p id="deleteUsernameMessage"></p>
  </div>
</html>
