<div>
  <div class="new-suggestion">
    <h2>Suggest a new movie to be voted on</h2>
    <input #inputMovieName id="voting" placeholder="Enter a movie name">
    <button type="button" id="change-vote" (click)="enterSuggest(inputMovieName.value)">Enter Suggestion</button>
    <p id="hasUserSuggested"></p>
  </div>

  <h2>Please Vote on a Movie</h2>
  <button type="Button" *ngFor="let suggest of suggests" id="change-vote" (click)="addSuggest(suggest)">
    <h3>Movie Name: {{suggest.movieTitle}}</h3>
    <span>Number of Votes: {{suggest.votes}}</span>
  </button>
  <p id="hasUserVoted"></p>
</div>
