<div class="main-container">
  <div class="movie-poster-container">
    <img id="movieImg" src="{{getMoviePoster()}}"  alt="Movie poster for {{getMovieTitle()}}"/>
  </div>

  <div class="select-screenings-container">
    <p>Select Screening for</p>
    <p id="movie-title">{{getMovieTitle()}}</p>
    <div class="screenings-list">
      <button type="button" *ngFor="let screening of screenings" class="screening-card" (click)="onSelect(screening)">
        <span id="screening-date">{{screening.date}}</span>
        <span> at </span>
        <span id="screening-time">{{screening.time}}</span>
        <br>
        <span>Tickets Remaining: </span>
        <span id="tickets-remaining">{{screening.ticketsRemaining}}</span>
      </button>
    </div>
  </div>
</div>
